.container {
    display: flex;
    place-content: center;
    color: var(--text-color);
}

.left {
    width: 15%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-image: url(./../../assets/images/earth.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.center {
    display: block;
    width: 75%;
    height: 90vh;
    overflow-y: scroll;
}

.right {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;

}

.closeRow {
    display: flex;
   justify-content: end;
}