.container {
    display: flex;
    place-content: center;
    color: var(--text-color);
    flex-wrap: nowrap;
}

.left {
    width: 15%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transform: translateX(-430px);
}

.left img {
    width: 850px;
    height: auto;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  

.center {
    display: block;
    width: 75%;
    height: 90vh;
    overflow-y: scroll;
}

.right {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;

}

.closeRow {
    display: flex;
   justify-content: end;
}